html,
body {
    color: white;
}

@keyframes bg {
    from {
        background: red;
    }

    to {
        background: blue;
    }
}

#canvas,
#canvasbg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#canvas {
    -webkit-animation: bg 4s linear infinite alternate;
    -o-animation: bg 14s linear infinite alternate;
    animation: bg 14s linear infinite alternate;
    z-index: -1;
}

#canvasbg {
    z-index: -10;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.6;
}

#root {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-shadow: 0 0 10px white;
    position: relative;
    padding: 0 1rem;
}

.logo {
    -webkit-filter: drop-shadow(0 0 10px white);
    filter: drop-shadow(0 0 10px white);
    margin-bottom: 6vh;
}

.t-center {
    max-width: 100%;
    overflow-x: auto;
}

#monitors {
    margin: 0 auto;
}

#monitors thead tr th {
    white-space: nowrap;
}


.domainChart {
    max-width: 200px;
}

#overallUptime,
.domainChart {
    width: 100%;
    margin: 0 auto;
}

#overallUptime {
    align-items: center !important;
    justify-content: center;
    margin: 0 !important;
}

#monitors+div {
    position: relative;
}

a {
    color: white;
}